<introduce data-is="introduce">
    <div class="ui center aligned grid">
        <div class="eight wide column">
            <br>
            <h3>ご意見・ご連絡・バグ報告</h3>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSedrcPjOA4JnM1RexVepzZ-zOtNQjL0vd7uhmdEan6zIm4ghA/viewform?usp=pp_url&entry.2092447489">こちらのgoogle formにお願いします。</a>

            <h3>サポートブラウザ</h3>
            Google Chrome 最新バージョン

            <h3>開発予定</h3>
            <table class="ui center aligned table">
                <thead>
                    <tr>
                        <th class="two wide column">日付</th>
                        <th class="four wide column">内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="disabled">
                        <td>2018年7月上旬予定</td>
                        <td>判例と条文を関連させて表示する機能追加完了</td>
                    </tr>
                    <tr class="disabled">
                        <td>2018年7月下旬予定</td>
                        <td>アカウント登録機能追加完了</td>
                    </tr>
                    <tr class="disabled">
                        <td>2018年8月予定</td>
                        <td>iosアプリ作成</td>
                    </tr>
                    <tr class="disabled">
                        <td>未定</td>
                        <td>判例増収、調査官解説掲載、契約書管理機能、契約書自動生成機能などを検討中</td>
                    </tr>
                </tbody>
            </table>
            開発のご要望もお待ちしています。

            <h3>使用技術</h3>
            Java, DBFlute, LastaFlute, Riot.js, Semantic UI, GCP, MySQL など
        </div>
</introduce>