<introduce data-is="introduce">
    <div class="ui center aligned grid">
        <div class="six wide column">
            <br>
            <h3>ご意見・ご連絡・バグ報告</h3>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSedrcPjOA4JnM1RexVepzZ-zOtNQjL0vd7uhmdEan6zIm4ghA/viewform?usp=pp_url&entry.2092447489">こちらのgoogle formにお願いします。</a>

            <h3>履歴</h3>
            2018/4/16 v0.1.0 公開
            <br>2018/4/18 v0.1.1 サイト紹介更新

            <h3>今後の開発予定</h3>
            判例検索機能の軽微なバグ修正
            <br>原審へのリンク追加、判決文のフォーマット調整
            <br>ユーザー管理機能
            <br>判例お気に入り登録機能
            <br>条文検索機能

            <h3>使用技術</h3>
            Java, DBFlute, LastaFlute, Riot.js, Semantic UI, GCP, MySQL など
        </div>
</introduce>