<judgement-detail data-is="judgement-detail">
    <div if="{ showsDetail }">
        <div class="ui grid">
            <div class="centered fourteen wide column">
                <table class="ui table">
                    <tbody>
                        <tr>
                            <td>事件名</td>
                            <td>{ detail.case_name }</td>
                        </tr>
                        <tr>
                            <td>事件番号</td>
                            <td>{ detail.case_mark_part.case_number_era_alias } { detail.case_mark_part.case_number_year} { detail.case_mark_part.case_mark_alias
                                } { detail.case_mark_part.case_number_serial_number}</td>
                        </tr>
                        <tr>
                            <td>裁判日</td>
                            <td>{ detail.judgement_date }</td>
                        </tr>
                        <tr>
                            <td>裁判所</td>
                            <td>{ detail.court_name } { detail.bench_alias != null ? '(' + detail.bench_alias + ')': ''}</td>
                        </tr>
                        <tr>
                            <td>裁判結果</td>
                            <td>{ detail.judgement_result_alias }</td>
                        </tr>
                        <tr>
                            <td>裁判種別</td>
                            <td>{ detail.judgement_type_alias }</td>
                        </tr>
                        <tr>
                            <td>原審事件番号</td>
                            <td if="{ !detail.original_judgement_case_mark_part }"></td>
                            <td if="{ detail.original_judgement_case_mark_part }" onclick='{ getJudgement.bind(original_judgement_public_code, detail.original_judgement_public_code) }'>
                                <a>{ detail.original_judgement_case_mark_part.case_number_era_alias } { detail.original_judgement_case_mark_part.case_number_year}
                                    { detail.original_judgement_case_mark_part.case_mark_alias } { detail.original_judgement_case_mark_part.case_number_serial_number}</a>
                            </td>
                        </tr>
                        <tr>
                            <td>上訴事件番号</td>
                            <td if="{ !detail.appeal_judgement_case_mark_part }"></td>
                            <td if="{ detail.appeal_judgement_case_mark_part }" onclick='{ getJudgement.bind(judgement_public_code, detail.appeal_judgement_public_code) }'>
                                <a>{ detail.appeal_judgement_case_mark_part.case_number_era_alias } { detail.appeal_judgement_case_mark_part.case_number_year}
                                    { detail.appeal_judgement_case_mark_part.case_mark_alias } { detail.appeal_judgement_case_mark_part.case_number_serial_number}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='centered fourteen wide column'>
                <div each={paragraph, i in sentence}>
                    <br if={i}>{paragraph}
                </div>
            </div>
        </div>
    </div>
    <script>
        // ===================================================================================
        //                                                                               Const
        //                                                                               =====
        const tag = this
        const showsDetail = false
        const detail = {
            case_mark_part: {},
            original_judgement_case_mark_part: {}
        }
        const sentence = []

        // ===================================================================================
        //                                                                               Event
        //                                                                               =====
        tag.on('mount', () => {
            tag.update()
        })

        tag.getJudgement = judgement_public_code => {
            request.get(`/judgement/get/${ judgement_public_code }`,
                (json) => {
                    const content = JSON.parse(json.text)

                    console.log("get /judgement/get/")
                    console.log(content)
                    tag.detail = content
                    tag.sentence = tag.formatSentence(content.sentence)
                    tag.showsDetail = true
                    tag.update()
                });
        }

        tag.formatSentence = sentence => {
            if (sentence == null || sentence == '') {
                return
            }
            return sentence.split('\n')
        }
    </script>
</judgement-detail>