<judgement-detail data-is="judgement-detail">
    <div if="{ showsDetail }">
        <div>{ detail.case_name }</div>
        <div>{ detail.judgement_date }</div>
        <div>{ detail.original_judgement_id }</div>
        <div>{ detail.case_mark_part.case_number_era_alias } { detail.case_mark_part.case_number_year} { detail.case_mark_part.case_mark_alias
            } { detail.case_mark_part.case_number_serial_number}</div>
        <div>{ detail.court_name } { detail.bench_alias != null ? '(' + detail.bench_alias + ')': ''}</div>
        <div>{ detail.judgement_result_alias }</div>
        <div>{ detail.judgement_type_alias }</div>
        <div>{ detail.sentence }</div>
    </div>
    <script>
        // ===================================================================================
        //                                                                               Const
        //                                                                               =====
        const tag = this
        const showsDetail = false
        const detail = {
            case_mark_part: {}
        }

        // ===================================================================================
        //                                                                               Event
        //                                                                               =====
        tag.on('mount', () => {
            tag.update()
        })

        tag.getJudgement = judgement_public_code => {
            request.get(`/judgement/get/${ judgement_public_code }`,
                (json) => {
                    const content = JSON.parse(json.text)

                    console.log("get /judgement/get/")
                    console.log(content)
                    tag.detail = content
                    tag.showsDetail = true
                    tag.update()
                });
        }
    </script>
</judgement-detail>