<judgement-list data-is="judgement-list">
    <div class="ui center aligned grid">
        <div class="row"> </div>
        <div class="ui center aligned fifteen wide column grid row form">
            <!-- 左の検索条件 -->
            <div class="seven wide column">
                <div class="inline fields">
                    <label>
                        事件番号
                    </label>
                    <div class="three wide field">
                        <su-dropdown class="fluid" items="{ era_list }" ref="case_number_era"></su-dropdown>
                    </div>
                    <div class="three wide field">
                        <input class="fluid" type="text" name="" ref="case_number_year" value="" placeholder="29" />年
                    </div>
                    <div class="three wide field">
                        <su-dropdown class="compact" items="{ case_mark_list }" ref="case_mark" search="true"></su-dropdown>
                    </div>
                    <div class="three wide field">
                        <input class="fluid" type="text" name="" ref="case_number_serial_number" value="" placeholder="1234" />
                    </div>
                </div>
                <div class="inline fields">
                    <label>
                        判例集
                    </label>
                    <div class="three wide field">
                        <su-dropdown class="fluid" items="{ report_list }" ref="report" value="{ report_id }"></su-dropdown>
                    </div>
                    第
                    <div class="three wide field">
                        <input type="text" name="" ref="report_kan" />巻
                    </div>
                    <div class="three wide field">
                        <input type="text" name="" ref="report_go" />号</div>
                    <div class="three wide field">
                        <input type="text" name="" ref="report_ko" />頁</div>
                </div>
            </div>
            <!-- 右の検索条件 -->
            <div class="seven wide column">
                <div class="inline fields">
                    <label>事件名</label>
                    <div class="six wide field">
                        <input type="text" name="" ref="case_name" value="" />
                    </div>
                </div>
                <div class="inline fields">
                    <label>全文検索
                    </label>
                    <div class="six wide field">
                        <input type="text" name="" ref="search_word" value="" />
                    </div>
                </div>
                <div class="inline fields">
                    <label>裁判日</label>
                    <div class="six wide field">
                        <input type="date" name="" ref="judgement_date_from" value="" />
                    </div>
                    <div class="one wide field">~</div>
                    <div class="six wide field">
                        <input type="date" name="" ref="judgement_date_to" value="" />
                    </div>
                </div>
                <div class="inline fields">
                    <label>裁判所</label>
                    <div class="twelve wide field">
                        <select name="" multiple="" ref="court" class="ui search dropdown">
                            <option value="">裁判所</option>
                            <option each="{ court_list }" value="{ value }">{ label }</option>
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <label>事件種別</label>
                    <div class="twelve wide field">
                        <select name="skills" multiple="" ref="case_category" class="ui dropdown">
                            <option value="">事件種別</option>
                            <option each="{ case_category_list }" value="{ value }" id="{value}">{ label }</option>
                        </select>
                    </div>
                </div>
                <div class="inline fields">
                    <label>裁判種別</label>
                    <div each="{ judgement_type_list }" class="ui checkbox">
                        <input type="checkbox" ref='judgement_type' name="" value="{ value }" id="{ value }" />
                        <label for="{ value }">{ label + "　"}</label>
                    </div>
                </div>
                <div class="inline fields">
                    <label>裁判結果</label>
                    <div each="{ judgement_result_list }" class="ui checkbox">
                        <input type="checkbox" ref='judgement_result' name="" value="{ value }" id="{ value }" />
                        <label for="{ value }">{ label + "　"}</label>
                    </div>
                </div>
                <div class="inline fields">
                    <label>法廷</label>
                    <div each="{ bench_list }" class="ui checkbox">
                        <input type="checkbox" ref='bench' name="" value="{ value }" id="{ value }" />
                        <label for="{ value }">{ label + "　"}</label>
                    </div>
                </div>
                <div class="inline fields"></div>
                <div class="inline fields">
                    <div class="ui compact selection dropdown">
                        <i class="dropdown icon"></i>
                        <div class="text">25</div>
                        <div class="menu">
                            <div class="item" onclick="{setPageSize.bind(page_size, 25)}">25</div>
                            <div class="item" onclick="{setPageSize.bind(page_size, 50)}">50</div>
                            <div class="item" onclick="{setPageSize.bind(page_size, 100)}">100</div>
                        </div>
                    </div>
                    <div>件ずつ表示</div>
                </div>
                <button class="blue ui button left floated" type="submit" onclick="{ searchRequest.bind(this, 1) }">
                    <i class="icon search"></i>検索
                </button>
                <button class="blue ui button left floated" type="button" onclick="{ clearConditions }">
                    <i class="icon ban"></i>クリア
                </button>
            </div>

            <div class="center aligned fourteen wide column" if="{ judgement_list }">
                <pagination data-tab="pagination" paging="{ paging_part }"></pagination>
                <table class="ui blue selectable celled table">
                    <thead>
                        <tr>
                            <!-- <th class="center aligned one wide"></th> -->
                            <th class="center aligned two wide">事件番号</th>
                            <th class="center aligned ">裁判所(法廷)</th>
                            <th class="center aligned ">裁判年月日</th>
                            <th class="center aligned ">判例集</th>
                            <th class="center aligned seven wide">事件名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr each="{ judgement_list }" onclick="{ showDetail.bind( this, judgement_public_code ) }">
                            <td class="center aligned"> { case_number_era_alias } { case_number_year} { case_mark_alias } { case_number_serial_number}</td>
                            <td class="center aligned"> { court_alias } {bench_alias != null ? '(' + bench_alias + ")": ""}</td>
                            <td class="center aligned"> { judgement_date } </td>
                            <td>
                                <div each="{ report_part_list }">
                                    { report_alias != null ? report_alias : ''} { report_kan != null ? '第' + report_kan + '巻' : ''} { report_go != null ? report_go
                                    + '号' : '' } { report_ko != null ? report_ko + '頁' : ''}
                                </div>
                            </td>
                            <td> { case_name } </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 詳細モーダル -->
        <div id="judgement-modal" class="ui modal">
            <div class="header">
                <div class="ui massive star rating" data-max-rating="1"></div>{ detail_case_number }</div>
            <div class="scrolling content">
                <judgement-detail ref="detail" data-tab="judgement-detail"></judgement-detail>
            </div>
            <div class="actions">
                <div class="ui cancel button">閉じる</div>
            </div>
        </div>

        <style>
            button {
                margin-bottom: 15px;
                margin-bottom: 15px;
            }
        </style>

        <script>
            const tag = this
            const bench_list = []
            const case_category_list = []
            const case_mark_list = []
            const court_list = []
            const court_type_list = []
            const era_list = []
            const judgement_result_list = []
            const judgement_type_list = []
            const report_list = []
            const paging_part = {}
            const detail_case_number = ''

            tag.page_number = 1 // as default
            tag.page_size = 25 // as default

            // ===================================================================================
            //                                                                               Event
            //                                                                               =====
            tag.on('mount', () => {
                tag.getMasterList()
                tag.update()
                $('.ui.dropdown').dropdown();
                $('.ui.long.modal').modal('show');
            })

            tag.clearConditions = () => {
                tag.refs.case_number_era.value = ''
                tag.refs.case_number_year.value = ''
                tag.refs.case_mark.value = ''
                tag.refs.case_number_serial_number.value = ''
                tag.refs.report.value = ''
                tag.refs.report_kan.value = ''
                tag.refs.report_go.value = ''
                tag.refs.report_ko.value = ''
                tag.refs.judgement_date_from.value = ''
                tag.refs.judgement_date_to.value = ''
                tag.refs.court.multiple = ''
                tag.refs.case_name.value = ''
                tag.refs.search_word.value = ''
                // 複数選択できるdropboxの選択を全部外す
                $('.item.active.filtered').removeClass('active').removeClass('filtered')
                $('.ui.label.transition.visible').remove()
                // check boxのチェックを全部外す
                tag.clearAllCheck(tag.refs.bench)
                tag.clearAllCheck(tag.refs.judgement_result)
                tag.clearAllCheck(tag.refs.judgement_type)
                tag.update()
            }

            tag.showDetail = judgement_public_code => {
                tag.refs.detail.getJudgement(judgement_public_code)
                //const detail_part = tag.refs.detail.case_mark_part
                // tag.detail_case_number = detail_part.case_number_era_alias + detail_part.case_number_year +
                //     detail_part.case_mark_alias + detail_part.case_number_serial_number

                $('#judgement-modal')
                    .modal({
                        closable: true,
                        context: 'judgement-list'
                    })
                    .modal('show')
                $('.ui.rating').rating();
            }

            tag.setPageSize = page_size => {
                tag.page_size = page_size
            }

            tag.setPageNumber = page_number => {
                tag.page_number = page_number
            }

            // ===================================================================================
            //                                                                             Request
            //                                                                             =======
            tag.getMasterList = () => {
                request.get(`/master/list`,
                    (json) => {
                        const content = JSON.parse(json.text)
                        tag.bench_list = content.bench_list
                        tag.case_category_list = content.case_category_list
                        tag.case_mark_list = helper.unshiftDefault(content.case_mark_list)
                        tag.court_list = helper.unshiftDefault(content.court_list)
                        tag.court_type_list = helper.unshiftDefault(content.court_type_list)
                        tag.era_list = helper.unshiftDefault(content.era_list)
                        tag.judgement_result_list = content.judgement_result_list
                        tag.judgement_type_list = content.judgement_type_list
                        tag.report_list = helper.unshiftDefault(content.report_list)
                        console.log("got master lists")
                        tag.update()
                    });
            };

            tag.searchRequest = (page_number) => {
                request.post(`/judgement/list`,
                    tag.getConditions(page_number),
                    (json) => {
                        const content = JSON.parse(json.text)
                        tag.judgement_list = content.judgement_list
                        tag.paging_part = content.paging_part
                        console.log("got judgement lists. page number:" + page_number + " page size:" + tag.page_size)
                        $('.ui.star.rating').rating();
                        tag.update()
                    });
                tag.update()
            };

            // ===================================================================================
            //                                                                        Assist Logic
            //                                                                        ============
            tag.getConditions = (page_number = tag.page_number) => {
                var data = {
                    case_name: tag.refs.case_name.value,
                    search_word: tag.refs.search_word.value,
                    report_kan: format.formatToJsonInteger(tag.refs.report_kan.value),
                    report_go: format.formatToJsonInteger(tag.refs.report_go.value),
                    report_ko: format.formatToJsonInteger(tag.refs.report_ko.value),
                    report_id: format.formatToJsonInteger(tag.refs.report.value),
                    judgement_date_from: format.formatToJsonDate(tag.refs.judgement_date_from.value),
                    judgement_date_to: format.formatToJsonDate(tag.refs.judgement_date_to.value),
                    case_number_era: tag.refs.case_number_era.value,
                    case_number_year: format.formatToJsonInteger(tag.refs.case_number_year.value),
                    case_mark_id: format.formatToJsonInteger(tag.refs.case_mark.value),
                    case_number_serial_number: format.formatToJsonInteger(tag.refs.case_number_serial_number.value),
                    court_id_list: tag.optionsToIntegerList('court'), // select box
                    bench_list: tag.checkboxesToCdefList(tag.refs.bench),
                    judgement_result_list: tag.checkboxesToCdefList(tag.refs.judgement_result),
                    judgement_type_list: tag.checkboxesToCdefList(tag.refs.judgement_type),
                    case_category_list: tag.optionsToCdefList('case_category'), // select box
                    page_number: page_number,
                    page_size: tag.page_size
                }
                return data
            }

            tag.checkboxesToCdefList = checkboxes => {
                const cdefList = [];
                checkboxes.forEach(element => {
                    if (element.checked) {
                        cdefList.push(element.value);
                    }
                });
                return cdefList;
            }

            tag.optionsToIntegerList = refparam => {
                const integerList = [];
                $("[ ref = " + refparam + " ]").siblings('a').each(function () {
                    integerList.push(format.formatToJsonInteger($(this)[0].getAttribute('data-value')));
                });
                return integerList;
            }

            tag.optionsToCdefList = refparam => {
                const cdefList = [];
                $("[ ref = " + refparam + " ]").siblings('a').each(function () {
                    cdefList.push($(this)[0].getAttribute('data-value'));
                });
                return cdefList;
            }

            tag.clearAllCheck = checkboxes => {
                checkboxes.forEach(element => {
                    element.checked = false
                });
            }
        </script>
</judgement-list>