<law-list data-is="law-list">making...
    <button class="blue ui button center aligned" type="button" onclick="{ healthCheck }">
        <i class="icon ban"></i>テスト
    </button>
    <script>
        this.healthCheck = () => {
            console.log("onclicked")
            request.get(`/health/check`, (json) => {
                const content = JSON.parse(json.text)
                alert(content.version)
                console.log(content)
            });
        };
    </script>
</law-list>