<law-detail data-is="law-detail">
    <div class="ui center aligned grid ">
        <div class="ui center aligned fifteen wide column">
            <div if="{ showsDetail }">
                <table class="ui blue table">
                    <tbody>
                        <tr>
                            <td>法令種別</td>
                            <td>{ detail.law_type_alias }</td>
                        </tr>
                        <tr>
                            <td>法令名</td>
                            <td>{ detail.law_name }
                                <div each="{ alias in detail.law_alias_list }">{ alias }</div>
                            </td>
                        </tr>
                        <tr>
                            <td>法令番号</td>
                            <td>{ detail.law_number }</td>
                        </tr>
                        <tr>
                            <td>公布日</td>
                            <td> { detail.promulgation_date }</td>
                        </tr>
                        <tr>
                            <td>施行日</td>
                            <td> { detail.effective_date != null ? detail.effective_date : 'データなし' }</td>
                        </tr>
                        <tr>
                            <td>カテゴリー</td>
                            <td>
                                <div each="{ part in detail.law_category_part_list }">{ part.law_category_alias }</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row"> </div>
            <div class="ui grid">
                <div class="" ref='xml'></div>
            </div>
        </div>
    </div>

    <style>
        .row {
            margin-bottom: 30px;
        }

        PartTitle,
        ChapterTitle,
        SectionTitle,
        SubsectionTitle,
        DivisionTitle,
        TOCSupplProvision,
        SupplProvisionLabel {
            font-weight: bold;
            line-height: 30px;
        }

        TOC ChapterTitle {
            padding-left: 1em;
        }

        TOC SectionTitle {
            padding-left: 2em;
        }

        TOC SubsectionTitle {
            padding-left: 3em;
        }

        TOC DivisionTitle {
            padding-left: 4em;
        }

        PartTitle {
            font-size: 22px;
        }

        ChapterTitle {
            font-size: 20px;
        }

        SectionTitle {
            font-size: 18px;
        }

        SubsectionTitle {
            font-size: 16px;
        }

        DivisionTitle {
            font-size: 14px;
        }

        TOCSupplProvision,
        SupplProvisionLabel {
            font-size: 16px;
        }

        TOC {
            text-align: left;
        }

        MainProvision article {
            text-align: left;
        }
    </style>
    <script>
        const tag = this
        tag.on('mount ', () => {
            $('.icon ').popup()
        })
        $('a[href^="#"]').click(function () {
            console.log("s")
            var speed = 800;
            var href = $(this).attr("href");
            var target = $(href == "#" || href ==
                "" ? 'html' : href);
            var position = target.offset().top;
            $("html, body").animate({
                scrollTop: position
            }, speed, "swing");
            return false;
        });

        tag.getLaw = law_public_code => {
            request.get(`/law/get/${ law_public_code }`,
                (json) => {
                    const content = JSON.parse(json.text)
                    tag.detail = content
                    tag.showsDetail = true
                    $("div[ref='xml']").empty();
                    tag.refs.xml.insertAdjacentHTML('afterbegin', content.law_content_view_xml);
                    console.log($("div[name=law-modal-header]"))
                    $("div[name=law-modal-header]")[0].innerText = content.law_name
                    console.log($("div[name=law-modal-header]"))
                    tag.update()
                    $('#law-modal ').modal('refresh '); // リフレッシュしないとモーダルの位置がおかしくなる（tag.detailがupdateされていない状態を元にモーダルが配置される。）
                    $('.scrolling.content ').scrollTop(0); // スクロールの位置を元に戻す
                });
        }
    </script>
</law-detail>