<app>
  <header></header>

  <judgement-list class="ui tab active" data-tab="judgement-list"></judgement-list>
  <law-list class="ui tab" data-tab="law-list"></law-list>
  <introduce class="ui tab" data-tab="introduce"></introduce>
  <!-- <mypage class="ui tab" data-tab="mypage"></mypage> -->

  <style>
  </style>

  <script>
    const tag = this
    tag.on('mount', () => {
      $('.ui .item').tab();
      $('header .item').on('click', function () {
        $('.ui.menu .item').removeClass('active');
        $(this).addClass('active');
        tag.update()
      });
      tag.update()
    })
  </script>
</app>