<header>
    <div class="ui blue inverted menu">
        <a class="active item" data-tab="judgement-list">
            <i class="legal icon"></i> 判例検索
        </a>
        <a class="item" data-tab="law-list">
            <i class="book icon"></i> 法令検索
        </a>
        <a class="item" data-tab="introduce">
            <i class="info icon"></i> サイト紹介
        </a>
        <!-- <a class="item" data-tab="mypage">
            <i class="user icon"></i> マイページ
        </a> -->
    </div>

    <script>
        this.on('mount', () => {
            this.update()
        })
    </script>
</header>