<pagination data-is="pagination">
  <div class="ui center aligned grid">
    <div class="six wide column">
      <div class="center aligned inline fields">
        <div class="center aligned fluid field">
          <button class="ui compact button" disabled="{ !opts.paging.exists_previous_page }" onClick="{ parent.searchRequest.bind(page_number, 1)}">
            First
          </button>
        </div>
        <div class="fluid field">
          <button class="ui compact icon button" disabled="{ !opts.paging.exists_previous_page }" onClick="{ parent.searchRequest.bind(page_number, opts.paging.previous_page_number)}">
            <i class="angle left link grey icon"></i>
          </button>
        </div>
        <div class="fluid field">
          { opts.paging.current_page_number }
        </div>
        <div class="fluid field"> /</div>
        <div class="fluid field">{ opts.paging.all_page_count } (全{ opts.paging.all_record_count }件) </div>
        <div class="fluid field">
          <button class="ui compact icon button" disabled="{ !opts.paging.exists_next_page }" onClick="{ parent.searchRequest.bind(page_number, opts.paging.next_page_number)}">
            <i class="angle right link icon"></i>
          </button>
        </div>
        <div class="fluid field">
          <button class="ui compact button" disabled="{ !opts.paging.exists_next_page }" onClick="{ parent.searchRequest.bind(page_number, opts.paging.all_page_count)}">
            Last
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>

  <style>
  </style>

  <script>
    var tag = this;

    // ===================================================================================
    //                                                                               Event
    //                                                                               =====
    tag.on('mount', () => {
      $('.ui.dropdown').dropdown()
      console.log(opts.paging)
    })

    // tag.searchRequest = () => {
    //   parent.searchRequest()
    // }
  </script>
</pagination>