<!-- <pagination data-is="pagination">
    <div class="inline fields">
        Display
        <div class="ui compact menu">
            <div class="ui simple dropdown item">
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item">20</div>
                    <div class="item">50</div>
                    <div class="item">100</div>
                </div>
            </div>
        </div>Per Page
        <button class="ui compact button">
            First
        </button>
        <button class="ui compact icon button">
            <i class="angle left link grey icon"></i>
        </button>
        <div class="one wide field">
            <input type="text" />
        </div>/ 5
        <button class="ui compact icon button">
            <i class="angle right link icon"></i>
        </button>
        <button class="ui compact button">
            Last
        </button>
    </div>
</pagination> -->